$animation-id-count: 0 !default;
$main-base-color: rgb(221, 221, 221);

@function animation-id() {
    $animation-id-count: $animation-id-count + 1 !global;
    @return animation-id-#{$animation-id-count};
}

// テキスト追加
@mixin addText($text, $color, $size) {
    &::before {
        width: 100%;
        height: 100%;
        font-size: $size;
        color: $color;
        content: '#{$text}';
    }
}

// スライドタイトル
@mixin slideTitle1($text: 'ここにタイトル', $color: black) {
    &::before {
        font-size: 200%;
        color: $color;
        content: '#{$text}';
    }
    & {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 100%;
        scale: 1;
    }
}

@mixin slideTitle1-in($text: 'ここにタイトル', $color: black) {
    &::before {
        font-size: 200%;
        color: $color;
        content: '#{$text}';
    }
    & {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 100%;
        scale: 1.5;
    }
}
