@use '../utils' as utils;
/* project://index.html */

.slide-conclusion {
    input[type='checkbox'] {
        display: none;
    }

    > .title {
        left: 30% !important;
        z-index: 1;
        cursor: pointer;
        transition: all 0.5s;
        @include utils.slideTitle1-in('CSSだけで作ってみた感想', #000000);
    }

    > .title:has(input[type='checkbox']:checked) {
        @include utils.slideTitle1('CSSだけで作ってみた感想', #000000);
        left: 1% !important;
    }

    > .list {
        position: absolute;
        top: 50%;
        left: 53%;
        width: 100%;
        font-size: 150%;
        opacity: 0;
        transition: all 0.5s;
        transform: translateY(-50%) translateX(-50%);
        > p {
            margin: 3% 0;
            &:nth-child(1) {
                @include utils.addText('・自由度が高い！', #000000, 120%);
            }
            &:nth-child(2) {
                @include utils.addText('・アニメーション付きで共有できるのがいい！', #000000, 120%);
            }
            &:nth-child(3) {
                @include utils.addText(
                    '・静的なスタイルシート言語なのでしんどい・・・',
                    #000000,
                    120%
                );
            }
            &:nth-child(4) {
                @include utils.addText('・次はJSフレームワークのSPAで作ってみたい!', #000000, 120%);
            }
        }
    }

    &:has(.title > input[type='checkbox']:checked) {
        > .list {
            opacity: 1;
        }
    }
}
